.rental-list-container {
  max-width: 800px; /* Increased max-width for more content */
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2 {
  color: #1c1e21;
  font-size: 20px;
  font-weight: bold;
  margin: 16px 16px 0;
  padding: 0;
}

.rental-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rental-item {
  border-bottom: 1px solid #dddfe2;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.rental-details {
  flex: 1;
}

.rental-details h3 {
  margin: 0 0 10px;
  color: #1c1e21;
  font-size: 16px;
}

.rental-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #606770;
}

.rental-actions {
  margin-left: 20px;
}

.return-button {
  background-color: #4267b2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.return-button:hover {
  background-color: #365899;
}
